* {
    bg-col:  #1F1F29;
    bg-col-light: #1F1F29;
    border-col: #7C7E86;
    selected-col: #1F1F29;
    blue: #93bbff;
    fg-col: #c5c9de;
    fg-col2: #F07178;
    grey: #c5c9de;
    width: 400;
}
